# Ignore virtual environment and cache
.venv/
__pycache__/
*.pyc
*.env

# Ignore database files
*.db
instance/

# Ignore environment variables
.env
*.env
file.json

# __pyche__folders
migrations/__pycache__/
migrations/versions/__pycache__/
models/__pycache__/
models/engine/__pycache__/
web_flask/__pycache__/
web_flask/routes/__pycache__/
